<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1,user-scalable=no">
    <link rel=icon href=/moives/favicon.ico>
     <link rel=stylesheet href=__CSS__/common.css>
      <link rel=stylesheet
        href=__CSS__/iconfont/iconfont.css> 
        <link rel=stylesheet href=__LIB__/swiper-4.1.0.min.css> <script
        src=__LIB__/swiper-4.1.0.min.js> 
        </script> <title>movies</title>
    <link href=__CSS__/chunk-08198c35.3b04b41f.css rel=prefetch>
    <link href=__CSS__/chunk-29dd25c1.5a9ff8e4.css rel=prefetch>
    <link href=__CSS__/chunk-58edb02a.7951a78d.css rel=prefetch>
    <link href=__CSS__/chunk-6dd1e37a.0d5ace51.css rel=prefetch>
    <link href=__CSS__/chunk-72a0fb26.13b544bf.css rel=prefetch>
    <link href=__CSS__/chunk-9fc1278e.f439b26c.css rel=prefetch>
    <link href=__CSS__/chunk-cf307bce.a8b3d7e7.css rel=prefetch>
    <link href=__CSS__/chunk-eea05dd6.e89335ab.css rel=prefetch>
    <link href=__JS__/chunk-08198c35.bb9a2d38.js rel=prefetch>
    <link href=__JS__/chunk-29dd25c1.4ff414a5.js rel=prefetch>
    <link href=__JS__/chunk-58edb02a.df875867.js rel=prefetch>
    <link href=__JS__/chunk-6dd1e37a.598bc1e7.js rel=prefetch>
    <link href=__JS__/chunk-72a0fb26.258290ef.js rel=prefetch>
    <link href=__JS__/chunk-9fc1278e.e66a8995.js rel=prefetch>
    <link href=__JS__/chunk-cf307bce.36af6324.js rel=prefetch>
    <link href=__JS__/chunk-eea05dd6.26a71896.js rel=prefetch>
    <link href=__CSS__/app.1e0a13cc.css rel=preload as=style>
    <link href=__JS__/app.b1591ff8.js rel=preload as=script>
    <link href=__JS__/chunk-vendors.4097d422.js rel=preload as=script>
    <link href=__CSS__/app.1e0a13cc.css rel=stylesheet>
</head>

<body><noscript><strong>We're sorry but movies doesn't work properly without JavaScript enabled. Please enable it to
            continue.</strong></noscript>
    <div id=app></div>
    <script src=__JS__/chunk-vendors.4097d422.js> </script> <script src=__JS__/app.b1591ff8.js> </script>
        </body> </html>